<h1 class="title">User</h1>
<p class="content"><strong>Name:</strong> <%= current_user.name %></h2>
<p class="content"><strong>Email:</strong> <%= current_user.email %></h2>
<br>
<br>
<h1 class="subtitle"><strong>Events</strong></h2>
<div class="content">
  <% if current_user.events.count > 0 %>
    <ul>
      <% current_user.events.each do |event| %>
        <li><%= link_to "#{event.title}, #{event.date.to_s}", user_event_path(current_user, event) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No events</p>
  <% end %>
</div>
