<h1 class="title">User</h1>
<p class="content"><strong>Name:</strong> <%= current_user.name %></h2>
<p class="content"><strong>Email:</strong> <%= current_user.email %></h2>
<br>
<br>
<h1 class="subtitle"><strong>Events Created</strong></h2>
<%= render 'events/list' %>
<div class="is-grouped">
  <%= link_to new_event_path do %>
    <p class="button">New Event</p>
  <% end %>
</div>