<div class="section">
  <h1 class="title">Upcoming Events</h1>
  <% tmp = @events; @events = @events.upcoming %>
  <%= render 'list' %>
  <% @events = tmp %>
  <h1 class="title">Past Events</h1>
  <% tmp = @events; @events = @events.past %>
  <%= render 'list' %>
  <% @events = tmp %>
  <div class="content">
    <%= link_to new_event_path do %>
      <button class="button is-small is-info">New Event</button>
    <% end %>
  </div>
</div>
